# VPC Configuration for accounts without default VPC
# IMPORTANT: You must set VPCId and Subnets for your AWS account
#
# To find your values, run:
#   aws ec2 describe-subnets --region us-east-1 --query 'Subnets[*].[SubnetId,VpcId]' --output table
#
# Then uncomment and update the values below:

option_settings:
  aws:ec2:vpc:
    # REQUIRED: Set these to your VPC and subnet
    # VPCId: vpc-07c2b892a9804bb95
    # Subnets: subnet-xxxxxxxxx
    AssociatePublicIpAddress: true
    ELBScheme: public

  aws:autoscaling:launchconfiguration:
    # Leave empty - EB will create security group in specified VPC
    SecurityGroups: ""
